@charset "utf-8";
/* CSS Document */

body{
	
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/lKHHs0I.jpg);
	height: 100vh;
	background-size:cover;
	background-size: center;	
}

.login-page{
	width: 306px;
	padding: 10% 0 0;
	margin: auto;
}

.form{
	position: relative;
	z-index: 1;
	background:#ffffff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding:45px;
	text-align: center;
}

.form input{
	
	font-family: "Helvetica Neue",sans-serif;
	outline: 1;
	backgroung:#f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	pading:15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button{
	
	font-family: "Helvetica Neue",sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	
	
}